@font-face {
	font-family: "Raleway-Black";
	src: url("fonts/raleway/Raleway-Black.ttf") format('truetype');
}

html, body {
    height: 100%;
    width: 100%;
}

p {
    font-size: 1.1em;
    font-weight: 200;
    line-height: 1.7em;
    color: #565656;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.10s;
}

/*-------------------------------------*/
/*             LOGIN FORM              */
/*-------------------------------------*/

.input_setoran{
    margin-left: 10px;
}
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

/*.kotak-login{
    background-color: #FFFFFF;
}
*/
/*@font-face {
    font-family: "Raleway-Black";
    src: url("fonts/raleway/Raleway-Black.ttf") format('truetype');
}
*/
/*html, body {
    height: 100%;
    width: 100%;
}*/
/*
#username{
    font-size: 20px;
}
#password{
    font-size: 20px;
}
.login-button{
    text-align: right;
}*/

/*.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

/*.btn-login-hijau{
    width: 150px;
    font-weight: 800;
}
.login-page,
.register-page {
  width: 100%;
  background: #ECFF23;
  min-height: auto;
  padding-bottom: 0;
}

.login-page .form-outer,
.register-page .form-outer {
  min-height: 100vh;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
}

.login-page .copyrights,
.register-page .copyrights {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}

.login-page .copyrights p,
.register-page .copyrights p {
  font-size: 0.6em;
  font-weight: 300;
  margin-bottom: 10px;
}

.login-page .form-inner,
.register-page .form-inner {
  padding: 40px 30px;
  background: #FFFFFF;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.login-page .logo,
.register-page .logo {
  font-size: 2em;
  font-weight: 500;
}

.login-page .logo span,
.register-page .logo span {
  color: #ccc;
}

.login-page p,
.register-page p {
  font-size: 0.8em;
  font-weight: 300;
  color: #aaa;
  margin-bottom: 0;
}

.login-page form,
.register-page form {
  margin: 2rem auto 1rem;
  max-width: 300px;
}

.login-page a.forgot-pass,
.login-page a.signup,
.register-page a.forgot-pass,
.register-page a.signup {
  font-size: 0.65em;
  color: #66b0ff;
}

.login-page a.forgot-pass:hover, .login-page a.forgot-pass:focus,
.login-page a.signup:hover,
.login-page a.signup:focus,
.register-page a.forgot-pass:hover,
.register-page a.forgot-pass:focus,
.register-page a.signup:hover,
.register-page a.signup:focus {
  color: #66b0ff;
  text-decoration: none;
}

.login-page a.forgot-pass,
.register-page a.forgot-pass {
  display: block;
}

.login-page a.create-account,
.register-page a.create-account {
  border-radius: 50px;
  font-size: 0.75em;
  margin-top: 10px;
  color: #999;
  text-transform: uppercase;
}

.login-page .terms-conditions,
.register-page .terms-conditions {
  margin-top: 20px;
}

.login-page small,
.register-page small {
  font-size: 0.65em;
  color: #aaa;
  line-height: 0.9em;
}

*/

/*============*/
input.text-bold{
    font-style: bold;
    /*font-size: px;*/
    font-weight: 800;
}
.text-font{
    font-style: bold;
    font-weight: 400;

}

.wrapper-login {
    display: flex;
    height: 100%;
}
.wrapper-img-login {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    transition: all .40s;
    z-index: -9;
    overflow: hidden;
}
.img-login {
    position: absolute;
    height: auto;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
}
.overlay.login-img-screen {

    opacity: .2;
}

.wrapper-login-form {
    align-items: center;
    display: flex;
    justify-content: center;
    width: calc(100% - 880px);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    transition: all .40s;
    overflow-y: hidden;
    background-color: rgba(255,255,255,.80);
    box-shadow: 0 19px 38px 8px rgba(0,0,0,0.30), 0 15px 12px 8px rgba(0,0,0,0.22);
}
.container.form-login {
    margin-top: 0px;
}
.wrapper-icon-login {
    margin-bottom: 20px;
}
.img-icon-login {
    height: 100px; width: 100px;
}
.form-inline .form-control.form-input-login {
    height: 50px;
    width: 250px;
    font-size: 20px;
}
.form-group.mg-button {
    margin-bottom: 15px;
}
.btn-login {
    padding: 4px 40px;
    font-size: 25px;
    font-weight: bold;
}
.warna-data-merah{
    background-color: red;
    width: 50%;
    height: 200px;
}
.warna-data-kuning{
    background-color: yellow;
    width: 50%;

    height: 200px;
}

@media (max-width: 1174px) {
    .wrapper-img-login {
        width: 100%;
    }
    .overlay.login-img-screen {
        opacity: 0;
    }
    .wrapper-login-form {
        width: 100%;
        background-color: rgba(0,0,0, .50);
    }
    .img-icon-login {
        height: 120px; width: 120px;
    }
    .img-login {
        width: auto;
        height: 100%
    }
}
@media (max-width: 700px) {
    .img-icon-login {
        height: 100px; width: 100px;
    }
    .form-inline .form-control.form-input-login {
        width: 77%;
        height: auto;
        font-size: 15px;
    }
    .btn-login {
        width: auto;
        font-size: 20px;
        font-weight: bold;
    }
}

/*-------------------------------------*/
/*             FOTO ADMIN              */
/*-------------------------------------*/
.gambar-admin{
    width: 50px;
    height: 50px;
}

/*-------------------------------------*/
/*              Dashboard              */
/*--------------------icon-content-----------------*/
.container.index-dashboard {
    margin-top: 90px;
    padding: 0 20px;
}

.dashboard-content {
    height: auto;
    margin: 10px 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 10px;
    padding: 15px;
    position: relative;
    color: white;
}
.dashboard-content:hover {
    /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
}
/*.keterangan{
     margin-bottom: 5px;
    margin-left: 30px;
    font-size: 50px;
}*/
.title-content  {
    /*font-size: 20px;*/
    color: #636363;
    margin-bottom: 5px;
    margin-left: 45px;
    font-weight: 100;
}
.view-home{
    margin-left: 50px;
}

.keterangan {
    /*font-weight: bold;*/
    font-size: 3vw;
    /*margin-bottom: 5px;*/
    /*position: absolute;
    right: 15px;
    top: 0;*/
    color: #33b35a;
    margin-left: 40px;
    font-weight: 200;
}

.title-dashboard-content p::after {
   /* content: '';
    height: 3px;
    width: 200px;
    background-color: gray;
    position: absolute;
    bottom: 20%;
    left: 10px;
     position: absolute;
    bottom: 20%;
    left: 10px;
    /*align-items: center;*/*/
    
}

.icon-content {
    position: absolute;
    top: 14px;
    /*right: 10px;*/
    left: 10px;
    font-size: 30px;
    color: #33b35a;
}

.content-dashboard-footer {
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 30px;
    padding: 0 25px 0 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.content-dashboard-footer.foo-1 {
    background-color: #5a6065;
}
.content-dashboard-footer.foo-2 {
    background-color: #1565C0;
}
.content-dashboard-footer.foo-3 {
    background-color: #1e9239;
}
.content-dashboard-footer.foo-4 {
    background-color: #ca2333;
}

.content-dashboard-footer p {
    color: #dadada;
    text-align: right;
}
.content-dashboard-footer:hover p {
    color: white;
    text-decoration: underline;
}
.content-dashboard-footer p::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    position: absolute;
    right: 10px;
    padding: 3px 0 0 0;
    transition: all .10s;
}
.content-dashboard-footer:hover p::after {
    right: 5px;
}

@media (min-width: 1060px) and (max-width: 1172px){
    .dashboard-content {
        height: 140px;
    }
}
@media (max-width: 992px) {
    .title-content, .keterangan {
        text-align: center;
        font-size: 15px;
    }
    .icon.icon-content {
        display: none;
    }
}
@media (max-width: 575px) {
    .icon.icon-content {
        display: block;
    }
    .title-content{
        width: 80px;
        /*text-align: initial;*/
         text-align: left;
         font-size: 20px;
         /*margin-left: 10px;*/

    }
    .keterangan {
        position: absolute;
        left: 150px;
        top: 0;

        font-size: 70px;
        font-weight: 200;
        /*text-align: left;*/
    }

    .btn-hapus{
        position: absolute;
        right: 20px;
        top: 95px;
    }

}

/*--------- STYLE ALL ---------s*/
.bungkus-terluar {
    display: flex;
    width: 100%;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/*--------------------*/
/*      SIDEBAR       */
/*--------------------*/
#sidebar {
    width: 200px;
    position: fixed;
    height: 100%;
    z-index: 150;
    transition: all 400ms cubic-bezier(0.67, 0.16, 0, 1);
    color: white;
    font-family: 'Raleway', sans-serif;
    overflow-y: auto;
}

#sidebar.active {
    margin-left: -285px;
}

.dismiss {
    display: none;
}
.setting{
    display: none;
}


.setting{
    display: none;
}


.menu-categori{
    margin-left: 10px;
    font-weight: 800;
    color: #adb5bd;
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 10px;
    margin-top: 10px;

}

/*.dismiss svg {
    color: #FFE100;
}*/

.wrapper-img-sidebar {
	z-index: -9;
}

.img-sidebar {
    height: 100vh;
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -9;
}

.overlay.index-img-screen {
    opacity: .8;
}

#sidebar .sidebar-header {
    padding-top: 20px;
    text-align: center;
}

#sidebar ul.components {
    padding: 10px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 12px;
    font-size: 0.8em;
    font-weight: 400;
    display: block;
}

#sidebar ul li a:hover {
    color: #fff;
    background: #33b35a;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #33b35a;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: rgba(255, 255, 255, 0.25);
}

li ul li a svg {
	margin-right: 10px;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  width: 40px;
  padding-left: 5px;
}
.fa-angle-left{
    /*color: yellow;*/
}

.laporan-li-icon:before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f080";
}

.penarikan-li-icon:before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f155";
}

.penjualan-li-icon::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0d1";
}
.dashboard-li-icon::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f2ed";
}

.sampah-li-icon::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f1f8";
}
.tamu-li-icon::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0c0";
}
.reservasi-li-icon::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f073";
}
.tipeKamar-li-icon::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f015";
}
.transaksi-li-icon::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f07a";
}

.penjualan-li-icon{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0d1";
}

.bungkus-bt-logout {
    text-align: center;
    margin-top: 70px;
}
.bt-logout {
    color: white;
}
.bt-logout svg {
    margin-left: 8px;
}

.personal-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    font-size: 21px;
    background-color: #1a1d21;
}
.container.info {
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-personal-info div {
    cursor: pointer;
    margin: 0 5px;
}
.content-personal-info svg {
    box-shadow: 0px 5px 15px rgba(0,0,0,.30);
    transition: all .30s cubic-bezier(0.27, 0.13, 0, 1);
}
.content-personal-info .col:hover svg {
    transform: scale(1.2);
}

.break-li {
	border-bottom: thin solid rgba(255, 255, 255, 0.35);
}

.contact {
	margin-top: 30px;
}

#btn-sidebar-toggle {
    font-size: 20px;
    cursor: pointer;
    transition: all .2s;
    color: #33b35a;
}
#btn-sidebar-toggle:hover {
    color: #33b35a;
}

/* INDIVUAL STYLE SIDEBAR - TAMU*/
h5.title-tamu {
	margin-bottom: 0px;
	padding: 0;
    font-weight: 400;
    font-size: 20px;
    font-weight: 600;
}

/*-------------------------------------*/
/*           CONTENT HEADER            */
/*-------------------------------------*/
#content {
    width: calc(100% - 200px);
    min-height: 100vh;
    transition: all 0.20s;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #e2e2e2; 
}

#content.active {
    width: 100%;
}

.navbar {
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    position: fixed;
    width: 100%;
    z-index: 99;
}

.increase-width {
	width: 100%;
	text-align: center;
}

.btn-header-logout {
    width: 110px;
    position: fixed;
    right: 10px;
    color: #33b35a;
    cursor: pointer;
}

.text-atas {
/*    width: 100%;
    display: inline-block;
        font-size: 10px;
        text-align: center;
        width: 100%;*/
    }

.h1-title-header {
    width: 100%;
    transition: all 0.10s cubic-bezier(0.6, 0, 0, 0.99); 
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-bottom: 0px;
    padding: 4px 0;
    font-size: 25px;
    font-weight: 600;
    text-align: left;
    margin-left: 20px;
}

h5.h1-title-header strong{

    color: #33b35a;
    font-size: 1.4em;
}
h5.h1-title-header span{

    color: white;
    font-size: 18px;
}


.btn-header-logout svg {
    margin-left: 8px;
}

/* INDIVUAL STYLE CONTENT HEADER - TAMU*/
.i-hide-tamu {
	display: block;
}

/*--------------------*/
/*   CONTENT TABLE    */
/*--------------------*/
/*.table-responsive{
    display: table;
}*/

/*.form-search{
    position: absolute;
    right: 10px;
    top: 10p
}*/

.bg-warna-tambah{
    background-color: #1DAB3D;
    color: #fff;
}

.header-table{
    color: #33b35a;

}
.wrapper-table {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	padding: 20px;
	/*border-radius: 10px;*/
	background-color: white;
	margin-bottom: 20px;

}

.container.table-tamu {
	margin-top: 90px;
}

.bungkus-bt-new {
	/*margin-bottom: 10px;*/
}

.notice {
	padding-bottom: 10px;
	margin-bottom: 40px;
}

.footer {
	padding: 8px;
	background-color: #1a1d21;
	color: white;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

.footer .y {
	margin-right: 12px;
}

.footer .y::after {
	content: '';
    width: 1px;
    height: 16px;
    background-color: white;
    position: absolute;
    top: 12px;
    margin: 0 5px;
}

/* INDIVUAL STYLE CONTENT TABLE - TAMU*/
.bt-input-tamu {
	font-weight: bold;
    margin-right: 15px;
    margin-bottom: 10px;


}

.bt-input-tamu svg {
	margin-right: 10px;
}

.btn-data-aksi {
	padding: 0px 5px;
}


#tb-sampah{
    table-responsive:none;
}

/*--------------------*/
/*     MODAL INSERT   */
/*--------------------*/
.from-tambah-sampah{
    margin-top: 15px;
}
.btn-modal-lingkaran{
    border-radius: 50%;
    margin-left: 10px;
}

.warna-modal{
    background-color: #FFFFFF;
}
.modal-dialog {
	border-radius: 0.3rem;
}

.modal-content {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.modal-title {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
    width: 100%;
    text-align: center;
}

.form-group-last-modal-input {
	margin-bottom: 0;
}

.last-label {
	margin-bottom: 0;
}

.text-muted {
    display: flex;
    align-items: center;
}

@media (min-width: 992px) {
	.modal-lg, .modal-xl {
    	max-width: 600px;
    }
}

/* INDIVUAL STYLE MODAL INSERT - TAMU*/
.modal-form-tamu {
	/*padding-left: 50px;*/
    background-color: #C4C4C4;
}

.foo-copyright {
	position: fixed;
	bottom: 0px;
	width: 100%;
	text-align: center;
	padding: 8px;
	background-color: black;
}

/*--------------------*/
/*     RESPONSIVE     */
/*--------------------*/
@media (max-width: 1059px) {
    .overlay.index-img-screen {
        display: none;
    }
    .wrapper-img-sidebar {
        display: none;
    }
	.container.table-tamu {
		margin-top: 75px;
	}
    .container.index-dashboard {
        margin-top: 75px;
        margin-bottom: 50px;
    }
    .wrapper-table {
        margin-bottom: 50px;
    }
	.btn-header-logout {
		display: block;   
	}
	.h1-title-header {
		font-size: 20px;
		text-align: center;
		width: 100%;
	}
    
    .text-atas {
    width: 100%;
    display: inline-block;
		font-size: 10px;
		text-align: center;
		width: 100%;
        /*display: none;*/
        /*display: none;*/
	}
    h5.h1-title-header span{

    display: none;
    }

	.title-tamu {
		font-size: 25px;
		margin-bottom: 0px;
		padding: 4px 0;
	}
    #sidebar {
        margin-left: -300px;
        background-color: rgba(0,0,0,.88);
        box-shadow: 0 5px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
    #sidebar.active {
        margin-left: 0px;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: 100%;
    }
    #btn-sidebar-toggle {
    	position: absolute;
    	/*right: 20px;
    	top: 23px;*/
        font-size: 24px;
    }

    button.btn.btn-outline-secondary{
        color: #33b35a;
        /*background-color: #33b35a;*/
    }
    .modal-form-tamu {
    	padding-left: 16px;
    }
    .notice {
    	display: none;
    }
    .bungkus-bt-new {
        margin-bottom: 10px;
    }
}

@media (max-height: 470px) {
    .personal-info {
        position: initial;
    }
}

@media (max-width: 1000px) {
    .dismiss {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        color: #33b35a;
        padding: 15px 15px 0 0;
        font-size: 23px;
    }
<<<<<<< HEAD
    .setting {
=======
    .setting{
>>>>>>> 0855db541786ce6d6c49f0b782ea3fd18db0092d
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        color: white;
        padding: 20px 5px 0 5px;
        font-size: 23px;
    }
}
<<<<<<< HEAD


=======
>>>>>>> 0855db541786ce6d6c49f0b782ea3fd18db0092d
